[submodule "icons"]
	path = icons
	url = git@github.com:Templarian/MaterialDesign.git
[submodule "MaterialDesign-Webfont"]
	path = MaterialDesign-Webfont
	url = git@github.com:Templarian/MaterialDesign-Webfont.git
